<h1>Projetos disponíveis via API</h1>


<% if @projects.nil? %>
  Não foi possível consultar os projetos no momento
<% else %>
  <% @projects.each do |project| %>
    <div>
      <h2><%= project.title %></h2>
      <%= project.description %>
    </div>
  <% end %> 
<% end %>